<div class="flex flex-wrap align-center mb-5">
  <div class="w-1/2">
    <h2>Greetings, {{user.name}}!</h2>
    <p>{{farm.name}}</p>
    <p># of Animals: {{ farm_animals.length }}</p>
    <p>Gold amount: {{user.current_gold}}</p>
  </div>
  <div class="w-1/2 flex justify-end">
    <a href="/farmstore" class="btn z-10">Farm Store</a>
  </div>
  <div class="w-full justify-center flex" style="background-color: #eee;">
    <div class="grass-field">
      <div class="barn">

      </div>
      {{#each farm_animals as |farmAnimal| }}
        <div class="card w-96">
          <div class="card-body items-center text-center">
            <h2 class="card-title">
              {{farmAnimal.name}} the {{farmAnimal.animal.name}}
            </h2>
            {{#if farmAnimal.is_hungry}}
            <button class="btn btn-accent">Feed Me!</button>
            {{else if farmAnimal.dataValues.product_ready}}
            <button class="btn btn-accent">Collect {{farmAnimal.animal.product.name}}</button>
            {{/if}}
          </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

