{{#if farm}}
<div class="flex justify-center">
  <img class="w-44 barn-img" src="/img/barn.png" alt="" />
</div>

<div class="farm flex justify-center">

</div>
 <div class="flex flex-wrap align-center bg-white px-5 rounded game-stats">
   <div class="w-1/2">
    <h2>Greetings, {{user.name}}!</h2>
    <p>Farm name: {{farm.name}}</p>
    <p># of Animals: {{farm_animals.length}}</p>
    <p>Gold amount: <span id="current-gold-amount">{{user.current_gold}}</span></p>
  </div> 
 <div class="w-1/2 flex justify-end">
      {{!-- <a href="/farmstore" class="btn z-10 self-center">Farm Store</a> --}}
      <a href="/farmstore" class="self-center"><img class="h-16" src="img/farmstorebtn.png"></a>
  </div>

  <div class="w-full justify-center flex" style="background-color: #eee;">
    <div class="grass-field"> 

{{!-- {{#each farm_animals as |farmAnimal|}}
        <div class="card w-96" data-id="{{farmAnimal.id}}">
          <div class="card-body items-center text-center">
            <h2 class="card-title">
              {{farmAnimal.name}}
              the
              {{farmAnimal.animal.name}}
            </h2>
            {{#if farmAnimal.is_hungry}}
              <button class="feed-me-btn btn btn-accent">Feed Me!</button>
            {{else if farmAnimal.product_ready}}
              <button class="collect-btn btn btn-accent">Collect
                {{farmAnimal.animal.product.name}}</button>
            {{/if}}
          </div>
        </div>
      {{/each}} --}}
{{! </div>
  </div>
</div> }}

<script src="/js/gameHelpers.js"></script>
<script src="/js/pixi.min.js"></script>

{{! pulling all animals into global scope }}
<script>
  const allAnimals = [
  {{#each farm_animals as |farmAnimal|}}
    { id:
    {{farmAnimal.id}}, name: "{{farmAnimal.name}}", last_fed:
    {{dateToTimestamp farmAnimal.last_fed}}, animal: { name: "{{farmAnimal.animal.name}}",
    product: { name: "{{farmAnimal.animal.product.name}}" } }, is_alive:
    {{farmAnimal.is_alive}}, product_ready:
    {{farmAnimal.product_ready}}
    },
  {{/each}}
  ]; console.log(allAnimals);
</script>
<script type="module" src="/js/farmTesting.js"></script>
{{else}}
<div class="flex justify-center my-4">
  <button id="create-farm" class="btn btn-accent" onclick="create_farm_modal.showModal()">
    Create Farm
  </button>
  <dialog id="create_farm_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h2>Name Your Farm</h2>
    <form id="create_farm_form">
      <input id="farm_name_input" name="farm_name" type="text" placeholder="Farm Name" class="input input-bordered w-full max-w-xs" required />
      <button type="submit" class="btn btn-primary">Create Farm</button>
    </form>
  </div>
</dialog>
</div>
<script>
  const handleCreateFarm = async (e) => {
    e.preventDefault()
    const farmName = document.getElementById('farm_name_input').value
    console.log(farmName)
    await fetch('/api/farms', {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name: farmName
      })
    })

    location.reload();
  }

  const createFarmForm = document.getElementById('create_farm_form')
  createFarmForm.addEventListener('submit', handleCreateFarm)
</script>
{{/if}}