<button id='backLogin'><img src="img/backbtn.png"></button>

<div class="w-1/2 profile center-image reg-text">
        <p>profile</p>
        <h2>Greetings, {{user.name}}!</h2>
        <p>{{farm.name}}</p>
        <p># of animals in heaven: {{animalsInHeaven.length}}</p>
        <p>Current gold: {{user.current_gold}}</p>
        <p>Total gold earned: {{user.total_gold}}</p>
    </div>